.top-box {
	background: no-repeat bottom
		url('../img/wallpapertip_innovation-wallpaper-hd_425586.jpg');
	background-size: cover;
	height: 100vh;
	
}

.box {
	padding-top: 5%;
}
.box-shadow {
	background-color: rgba(255, 255, 255, 0.4);
}
.about {
	display: block;
	padding-top: 5rem;
	font-size: 2rem;
}

.aboutme-past {
	position: relative;
	display: inline-block;
	font-size: 1.2rem;
	text-align: left;
	padding-top: 2%;
	backdrop-filter: blur(2px);
	margin: 10%;
}

.aboutme-sticker {
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-size: 1.2rem;
	text-align: right;
	backdrop-filter: blur(3px);
	margin: 0% 10%;
}

.aboutme-sticker ul {
	padding-bottom: 2rem;
}

.aboutme-sticker li {
	position: relative;
	list-style: none;
	text-align: right;
}

@media (min-width: 376px) {
	div {
		padding-bottom: 1rem;
	}

	.aboutme-past {
		text-align: center;
	}

	.aboutme-sticker {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.aboutme-sticker {
		position: relative;
		left: 20%;
	}
}

@media (min-width: 1440px) {
	.about {
		padding-top: 1rem;
		font-size: 2rem;
	}

	.aboutme-past {
		width: 26%;
		font-size: 1.1rem;
		padding-right: 0%;
		margin: unset;
	}

	.aboutme-sticker {
		width: 50%;
		font-size: 1.1rem;
		left: unset;
	}
}
