/* -------------------------------------------------------------------------- */
/*                               Picture Section                              */
/* -------------------------------------------------------------------------- */

.modal__backdrop {
	background: rgba(0, 0, 0, 0.4);
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 200;
}

.modal__content {
	background: #7ee8fc;
	font-family: 'PT Sans', sans-serif;
	position: relative;
	margin: auto;
	padding: 5%;
	top: 25vh;
	text-align: center;
	box-shadow: 0px 1px 20px 10px #9cc6f0;
}

.modal__content h1 {
	font-size: 1.5rem;
	color: #0e3e75;
	text-decoration: underline;
}

.top-box {
	background: no-repeat bottom
		url('../img/—Pngtree—simple\ technology\ business\ line_938398-min.jpg');
	background-size: cover;
	height: 100vh;
	padding-bottom: 2rem;
}

.stack-list {
	margin-top: 4rem;
	margin-bottom: 0px;
	width: 100%;
	display: inline-block;
	padding: 0;
	backdrop-filter: blur(4px);
	text-align: center;
}

.stack-list__item {
	display: inline-block;
	width: 45%;
	text-align: center;
	margin: auto;
	padding-top: 3rem;
}

.stack {
	text-align: center;
	height: 6rem;
	width: 8rem;
	display: inline-block;
	margin: auto;
	padding: 5px 15px;
}

.main-title {
	font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                  Showcase                                  */
/* -------------------------------------------------------------------------- */

.showcase {
	width: 100%;
	text-align: center;
}

.showcase-card {
	background-color: #7ee8fc;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	box-shadow: 8px 8px 8px 8px #9cc6f0;
	margin: 15px 0px;
	padding: 25px 0;
	font-family: 'PT Sans', sans-serif;
}

.showcase-description-header {
	font-size: 1.3rem;
	font-family: 'Libre Baskerville', serif;
}

.showcase-card article {
	padding: 0;
}

.showcase-list {
	padding: 0;
}

.showcase-feature {
	list-style: none;
	padding: 3px;
	vertical-align: middle;
}

.showcase-card button,
.modal__button {
	border-radius: 15px;
	font-family: 'Amaranth', sans-serif;
	font-size: 1.25rem;
	border: none;
	background: #70b1e0;
	cursor: grab;
	box-shadow: 10px 10px 10px 10px #86b7e7;
	vertical-align: middle;
	display: inline-block;
	padding: 25px;
}

.action-btn:hover,
.modal__button:hover {
	background: #8aaadb;
	border: #997efc 2px dotted;
	border-radius: 15px;
}

.action-btn:active,
.modal__button:active {
	background: #6e67db;
}
.action-btn:focus,
.modal__button:focus {
	outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                  Features                                  */
/* -------------------------------------------------------------------------- */

.features {
	margin: 48px 0px;
	padding: 48px 0px;
	background-color: #7ee8fc;
}

.features-title {
	text-shadow: 5px 5px 8px 5px white;
	padding: 8px;
	padding-bottom: 36px;
	margin: 8px;
}

.features-item {
	display: block;
	list-style: none;
	font-family: 'Libre Baskerville', serif;
	padding: 5px 25px;
}

/* -------------------------------------------------------------------------- */
/*                                Media @ 425px>  Mobile-L                    */
/* -------------------------------------------------------------------------- */

@media (min-width: 425px) {
	/* -------------------------------------------------------------------------- */
	/*                               Picture Section                              */
	/* -------------------------------------------------------------------------- */

	.stack-list__item {
		padding-top: 2rem;
	}

	.stack {
		height: 8rem;
		width: 10rem;
	}

	.main-title {
		font-size: 3rem;
	}
}

/* -------------------------------------------------------------------------- */
/*                            @Media <768px Tablet                            */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
	/* -------------------------------------------------------------------------- */
	/*                               Picture Section                              */
	/* -------------------------------------------------------------------------- */

	.stack-list {
		margin-top: 3rem;
	}

	.stack-list__item {
		padding-top: 1rem;
	}

	.stack {
		height: 9rem;
		width: 10rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Showcase                                  */
	/* -------------------------------------------------------------------------- */

	.showcase-card {
		width: 43%;
		display: inline-block;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Features                                  */
	/* -------------------------------------------------------------------------- */

	.features-item {
		display: inline-block;
		width: 44%;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------- */
/*                               @Media @1024px>                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1024px) {
	/* -------------------------------------------------------------------------- */
	/*                               Picture Section                              */
	/* -------------------------------------------------------------------------- */

	.modal__content {
		width: 50%;
	}

	.stack-list {
		margin-top: 3.7rem;
	}

	.stack-list__item {
		width: 32vw;
	}

	.stack {
		height: 17rem;
		width: 17rem;
	}

	.main-title {
		font-size: 3.75rem;
		margin-bottom: 1.25rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Showcase                                  */
	/* -------------------------------------------------------------------------- */

	.showcase {
		display: inline-block;
	}

	.showcase-card {
		width: 33%;
		margin: 0 25px;
	}

	.showcase-card button,
	.modal__button {
		height: 4.8rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Features                                  */
	/* -------------------------------------------------------------------------- */

	.features-item {
		font-size: large;
	}
}

/* -------------------------------------------------------------------------- */
/*                               @Media @1400px>                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1440px) {
	/* -------------------------------------------------------------------------- */
	/*                               Picture Section                              */
	/* -------------------------------------------------------------------------- */

	.top-box {
		height: calc(100% - 3rem);
	}

	.stack-list__item {
		text-align: center;
		margin: auto;
	}

	.stack {
		width: 16rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Showcase                                  */
	/* -------------------------------------------------------------------------- */

	.showcase-card {
		display: inline-block;
	}

	.showcase-card button,
	.modal__button {
		height: 4.8rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  Features                                  */
	/* -------------------------------------------------------------------------- */

	.features-item {
		display: inline-block;
	}
}
