.top-box {
	background: no-repeat center url('../img/14727-scaled.jpg');
	background-size: cover;
	height: 100vh;
	padding-bottom: 2rem;
	filter: blur(6px);
	z-index: -1;
	position: fixed;
}

.blur-box {
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.5);
}

.my-stack {
	text-align: center;
}

.border {
	height: 3rem;
	border-bottom: #88abf7;
	border-bottom-style: dotted;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 100%;
}

.text-box {
	margin: 0 auto;
	width: 90vw;
	text-align: center;
}

.stack-box {
	text-align: center;
	width: 100%;
	padding: 3rem;
	font-size: 1.2rem;
	img {
		width: 100%;
	}
}

.react {
	padding-top: 3rem;
}

@media (min-width: 1024px) {
	.title {
		padding: 2rem 0;
		grid-column-start: 1;
		grid-column-end: span 3;
	}

	.stack-box__timeline {
		width: 100%;
		padding-top: 5%;
	}

	.stack-box {
		width: 100%;
		img {
			width: 25%;
		}
	}
	.my-stack__gridbox {
		display: grid;
		justify-items: center;
	}

	.stack-box{
		img{
			padding: 5% 0;
		}
	}
	.text-box {
		width: 50%;
	}
}
