/* -------------------------------------------------------------------------- */
/*                                Main Content                                */
/* -------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

.title {
	text-align: center;
	font-size: 2.25rem;
	font-family: 'Amaranth', sans-serif;
	margin-top: 25px;
	padding: 15px 0px;
	text-shadow: 5px 5px 8px #9cc6f0;
}

div {
	vertical-align: middle;
	/* text-align: center; */
}

.stack-list__item:hover {
	cursor: grab;
	background-color: rgba(0, 0, 0, 0.05);
}
/* -------------------------------------------------------------------------- */
/*                                    Head                                    */
/* -------------------------------------------------------------------------- */

.main-header {
	height: 10%;
	width: 100%;
	padding: 8px 16px;
	position: fixed;
	background: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.7)
	);
	z-index: 1;
}

.head-title {
	display: inline-block;
}

.brand {
	display: inline-block;
	font-family: 'Tangerine', cursive;
	font-size: 2rem;
	font-weight: bold;
	color: #9cc6f0;
	text-decoration: none;
	padding: 10px;
	vertical-align: middle;
}

.mobile-nav {
	display: inline-block;
	color: white;
	font-size: 2rem;
	width: max-content;
	margin-left: 30%;
}

.mobile-container {
	position: relative;
	left: 20%;
}

.mobile-main-nav {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 80vw;
	text-align: right;
	right: 0;
	display: none;
	padding-right: 5%;
	position: relative;
}

.mobile-main-nav__items {
	list-style: none;
}

.mobile-nav-link {
	color: #9cc6f0;
	text-decoration: none;
	font-family: 'Grenze Gotisch', cursive;
	font-size: 1.625rem;
	padding-bottom: 3px;
	padding-right: 5px;
}

.mobile-nav-button {
}

.main-nav {
	display: inline-block;
	right: 1.8rem;
	top: 22px;
	position: fixed;
	text-align: right;
	vertical-align: middle;
}
.main-nav__items {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-nav__item {
	padding: 0 20px;
}

.nav-link {
	color: #9cc6f0;
	text-decoration: none;
	font-family: 'Grenze Gotisch', cursive;
	font-size: 1.625rem;
	padding-bottom: 3px;
	padding-right: 5px;
}

.nav-link:hover {
	color: #88abf7;
	border-bottom: #88abf7 2px;
	border-bottom-style: dotted;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
}

.nav-link:active {
	color: #5e76ab;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.main-footer {
	position: fixed;
	bottom: 0px;
	height: 3rem;
	width: 100%;
	background: linear-gradient(
		rgba(255, 255, 255, 0.7),
		rgba(109, 109, 109, 0.363),
		rgba(255, 255, 255, 0.7)
	);
}

.footer-list {
	text-align: center;
	width: 100%;
	list-style: none;
	margin-top: 8px;
	padding: 0;
}

.footer-list__item {
	width: 20%;
	display: inline-block;
}

.footer-link {
	color: black;
	cursor: grab;
	position: relative;
}

.case-law {
	height: 50%;
	width: 45%;
	vertical-align: bottom;
	font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                @Media 376px> Mobile-M                      */
/* -------------------------------------------------------------------------- */

@media (min-width: 376px) {
	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.mobile-nav {
		margin-left: 49%;
	}

	/* -------------------------------------------------------------------------- */
	/*                                   Footer                                   */
	/* -------------------------------------------------------------------------- */

	.case-law {
		width: 38%;
	}
}

/* -------------------------------------------------------------------------- */
/*                            @Media <768px Tablet                            */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
	/* -------------------------------------------------------------------------- */
	/*                                Main Content                                */
	/* -------------------------------------------------------------------------- */

	.title {
		padding: 5rem 0px;
	}

	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.brand {
		font-size: 3rem;
	}

	.mobile-nav {
		display: none;
	}

	.main-nav__item {
		display: inline-block;
	}

	/* -------------------------------------------------------------------------- */
	/*                                   Footer                                   */
	/* -------------------------------------------------------------------------- */

	.case-law {
		width: 20%;
	}
}

/* -------------------------------------------------------------------------- */
/*                                @Media 1024px >                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1024px) {
	/* -------------------------------------------------------------------------- */
	/*                                Main Content                                */
	/* -------------------------------------------------------------------------- */

	div {
		text-align: center;
	}

	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.head-title {
		display: inline-block;
	}

	.mobile-nav {
		display: none;
	}

	/* -------------------------------------------------------------------------- */
	/*                                   Footer                                   */
	/* -------------------------------------------------------------------------- */

	.footer-list {
		margin: 8px;
	}

	.case-law {
		height: 10%;
		width: 15%;
	}
}

/* -------------------------------------------------------------------------- */
/*                               @Media 1440px>                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1440px) {
	/* -------------------------------------------------------------------------- */
	/*                                Main Content                                */
	/* -------------------------------------------------------------------------- */

	div {
		vertical-align: middle;
	}

	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.brand {
		font-size: 3rem;
	}

	.main-nav__item {
		display: inline-block;
	}

	/* -------------------------------------------------------------------------- */
	/*                                   Footer                                   */
	/* -------------------------------------------------------------------------- */

	.footer-list {
		text-align: center;
		width: 100%;
		list-style: none;
	}

	.case-law {
		width: 13%;
	}
}

/* -------------------------------------------------------------------------- */
/*                             JavaScript Classes                             */
/* -------------------------------------------------------------------------- */

.display-inline-block {
	display: inline-block;
}
