* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

.head-title {
	display: inline-block;
	vertical-align: middle;
}

.head-title > a {
	display: inline-block;
	font-family: 'Tangerine', cursive;
	font-size: 50px;
	font-weight: bold;
	color: #34b37e;
	text-decoration: none;
}

.main-header {
	background: #64ffbe;
	width: 100%;
	padding: 8px 16px;
}

.main-nav {
	display: inline-block;
	width: calc(100% - 220px);
	text-align: right;
	vertical-align: middle;
}
.main-nav__item {
	display: inline-block;
	padding: 50px;
}

.main-nav__item > a {
	color: #34b37e;
	text-decoration: none;
	font-family: 'Grenze Gotisch', cursive;
	font-size: 26px;
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}
