$color: (
	bg-color: rgba(124, 203, 235, 1),
	base-color: rgba(124, 203, 235, 0.56),
	box_shadow: rgba(124, 203, 235, 0.75),
	text_darker_blue: #88abf7,
	h1_color: #0e3e75,
	half_transparent: rgba(0, 0, 0, 0.5),
	half_transparent_white: rgba(255, 255, 255, 0.5),
	features_title_shadow: white,
	link_active: #5e76ab,
	btn-bg-color: #70b1e0,
	btn-bg-hover: #649bc2,
	btn-bg-active: #6bfae7,
	border-color: #416885,
	fa_icon_white: white,
);
