$color: (
	shadow: #9cc6f0,
);

.top-box {
	background: no-repeat top
		url('../img/wallpapertip_internet-wallpaper_123097.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: fixed;
	filter: blur(3px);
	z-index: -1;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.formelement {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	input {
		margin: 3% 0;
	}
	select {
		margin: 3% 0;
	}
	background-color: rgba(124, 203, 235, 0.75);
	box-shadow: 0 4px 15px 30px rgba(124, 203, 235, 0.75);
	backdrop-filter: blur(3px);
}

label {
	text-align: left;
}

.submit-btn {
	border-radius: 15px;
	font-family: 'Amaranth', sans-serif;
	font-size: 1.25rem;
	border: none;
	background: #70b1e0;
	cursor: grab;
	box-shadow: 10px 10px 10px 10px map-get($color, shadow);
	padding: 25px;
	vertical-align: middle;
	margin: 3% auto;
}

@media (min-width: 1024px) {
	.formelement {
		width: 35%;
		input {
			margin: 5% 0;
		}
		select {
			margin: 5% 0;
		}
	}
}
