@import 'colors.scss';
@import 'templates.scss';

.top-box {
	background: no-repeat top
		url('../img/wallpapertip_internet-wallpaper_123097.jpg');
	@include bg_image_template;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.formelement {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	input {
		margin: 3% 0;
	}
	select {
		margin: 3% 0;
	}
	background-color: map-get($color, box_shadow);
	box-shadow: 0 4px 15px 30px map-get($color, box_shadow);
	backdrop-filter: blur(3px);
}

label {
	text-align: left;
}

@media (min-width: 1024px) {
	.formelement {
		width: 35%;
		input {
			margin: 5% 0;
		}
		select {
			margin: 5% 0;
		}
	}
}
