@import 'colors.scss';
@import 'templates.scss';

.active {
  display: grid !important;
}

.top-box {
  background: no-repeat center #6342d9a3 url('../img/webp/14727-scaled.webp');
  background-blend-mode: overlay;
  @include bg_image_template;
}

.blur-box {
  height: 100vh;
  width: 100vw;
  background-color: map-get($color, half_transparent_white);
}

.border {
  height: 3rem;
  border-bottom: map-get($color, text_darker_blue);
  border-bottom-style: dotted;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 100%;
}

.text-box {
  margin: 0 auto 2rem;
  width: 90vw;
  text-align: left;
}

.stack-box {
  text-align: center;
  width: 100%;
  padding: 3rem;
  img {
    width: 100%;
  }
}

.stack-box__timeline {
  text-align: center;
  width: 95%;
}

.my-stack__gridbox {
  display: none;
  justify-items: center;
}

.stack-box_accordion_Main-Stack {
  grid-column: span 2;
}

.stack-box_accordion_button {
  width: 100%;
}
.accordion_stack_button {
  padding: {
    left: 16px;
    right: 16px;
  }
  margin: {
    left: 3rem;
    right: 3rem;
  }
}

@media (min-width: 640px) {
  .stack-box {
    img {
      width: 45%;
    }
  }
}

@media (min-width: 1024px) {
  .title {
    padding: 2rem 0;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .stack-box__timeline {
    width: 100%;
    grid-column: span 2;
    text-align: center;
  }

  .stack-title {
    margin: 1.5rem 0;
    text-shadow: 5px 5px 8px map-get($color, text_darker_blue);
    grid-column: span 2;
    width: 100%;
  }

  .stack-box {
    img {
      width: 40%;
      padding: 5% 0;
      grid-column-start: 1;
    }
  }
  .gridbox_container {
    display: none;
    margin: auto;
    width: 75%;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }

  .transitionbox {
    transform: translate(100%, 0);
    position: relative;
    transition: transform 1s ease-in-out;
  }

  .transition-animation {
    transform: translate(0, 0) !important;
  }

  .my-stack {
    margin-bottom: 2rem;
  }

  // .my-stack__gridbox {
  //   display: none;
  //   grid-template-columns: repeat(auto-fit, 50%);
  //   align-items: center;
  // }

  .text-box {
    width: 90%;
    margin: 0 2%;
  }
}
