$colors: (
	text_darker_blue: #88abf7,
);

.top-box {
	background: no-repeat center #6342d9a3 url('../img/14727-scaled.jpg');
	background-blend-mode: overlay;
	background-size: cover;
	height: 100vh;
	padding-bottom: 2rem;
	filter: blur(4px);
	z-index: -1;
	position: fixed;
}

.blur-box {
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.5);
}

.border {
	height: 3rem;
	border-bottom: map-get($colors, text_darker_blue);
	border-bottom-style: dotted;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 100%;
}

.text-box {
	margin: 0 auto 2rem;
	width: 90vw;
	text-align: left;
}

.stack-box {
	text-align: center;
	width: 100%;
	padding: 3rem;
	img {
		width: 100%;
	}
}

.stack-box__timeline {
	text-align: center;
	width: 95%;
}

.my-stack__gridbox {
	display: grid;
	justify-items: center;
}

@media (min-width: 640px) {
	.stack-box {
		img {
			width: 45%;
		}
	}
}

@media (min-width: 1024px) {
	.title {
		padding: 2rem 0;
		grid-column-start: 1;
		grid-column-end: span 3;
	}

	.stack-box__timeline {
		width: 100%;
		grid-column: span 2;
		text-align: center;
	}

	.stack-title {
		margin: 1.5rem 0;
		text-shadow: 5px 5px 8px map-get($colors, text_darker_blue);
		grid-column: span 2;
		width: 100%;
	}

	.stack-box {
		img {
			width: 40%;
			padding: 5% 0;
			grid-column-start: 1;
		}
	}
	.my-stack__gridbox {
		display: grid;
		grid-template-columns: repeat(auto-fit, 50%);
		align-items: center;
	}

	.text-box {
		width: 90%;
		margin: 0 2%;
	}
}
