@import 'colors.scss';
@import 'templates.scss';
.top-box {
	background: no-repeat bottom url('../img/wallpaperflare.com_wallpaper.jpg');
	@include bg_image_template;
	padding-bottom: 1rem;
	text-align: center;
}
p {
	line-height: 1.8rem;
}
.title__background {
	background-color: map-get($color, base-color);
	box-shadow: 0 4px 15px 15px map-get($color, base-color);
	margin: 1rem 3rem;
}

.title {
	padding: 0;
}

.text-box {
	background-color: map-get($color, base-color);
	box-shadow: 0 4px 15px 15px map-get($color, base-color);
	font: {
		size: 1.2rem;
	}
	margin: 1rem 3rem;
	text-align: left;
}

@media (min-width: 1024px) {
	.title__background {
		margin: 1rem 5rem;
	}

	.text-box {
		margin: 1rem 5rem;
	}
}
