$base-color: rgba(124, 203, 235, 0.56);

.top-box {
	background: no-repeat bottom url('../img/wallpaperflare.com_wallpaper.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	padding-bottom: 1rem;
	position: fixed;
	z-index: -1;
	text-align: center;
}
p {
	line-height: 1.8rem;
}
.title__background {
	background-color: $base-color;
	box-shadow: 0 4px 15px 15px $base-color;
	margin: 1rem 3rem;
}

.title {
	padding: 0;
}

.text-box {
	background-color: $base-color;
	box-shadow: 0 4px 15px 15px $base-color;
	font: {
		size: 1.2rem;
	}
	margin: 1rem 3rem;
	text-align: left;
}

@media (min-width: 1024px) {
	.title__background {
		margin: 1rem 5rem;
	}

	.text-box {
		margin: 1rem 5rem;
	}
}
