@import 'colors.scss';
@import 'templates.scss';

.background_image {
	background: no-repeat bottom url('../img/1445478.jpg');
	@include bg_image_template;
	padding-bottom: 1rem;
}
p {
	line-height: 1.8rem;
}
.title {
	display: block;
	padding: 0;
}

.aboutme-past {
	background-color: rgba($color: white, $alpha: 0.7);
	box-shadow: 0 10px 12px 23px map-get($color, box_shadow);
	font: {
		size: 1.2rem;
	}
	padding: 2%;
	margin: 2%;
}

@media (min-width: 1024px) {
	.aboutme-past {
		margin: 1rem 5rem;
	}
	p {
		line-height: 2rem;
	}
}
