@import 'colors.scss';
@import 'templates.scss';

.top-box {
	background: no-repeat bottom
		url('../img/webp/wallpapertip_internet-wallpaper_1255703.webp');
	opacity: 0.6;
	@include bg_image_template;
	padding-bottom: 1rem;
}

a {
	color: map-get($color, text_darker_blue);
	text-decoration: none;
	font: {
		family: 'Grenze Gotisch', cursive;
		size: 1.625rem;
	}
	&:hover {
		color: map-get($color, text_darker_blue);
		border: {
			bottom: map-get($color, text_darker_blue);
			bottom-style: dotted;
			bottom-left-radius: 15%;
			bottom-right-radius: 15%;
		}
	}
	&:active {
		color: map-get($color, link_active);
	}
}
