$colors: (
	main_text: #9cc6f0,
	text_darker_blue: #88abf7,
);

@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Grenze+Gotisch:wght@400;700&family=Libre+Baskerville:ital@0;1&family=PT+Sans&family=PT+Sans+Caption&family=Tangerine:wght@400;700&display=swap');

/* -------------------------------------------------------------------------- */
/*                                Main Content                                */
/* -------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'PT Sans Caption', sans-serif;
	display: grid;
	grid-template-rows: 3.5rem auto 4rem;
	height: 100%;
}

main {
	grid-row: 2 / 3;
}

.title {
	text: {
		align: center;
		shadow: 5px 5px 8px map-get($colors, text_darker_blue);
	}
	font: {
		size: 2.25rem;
		family: 'Amaranth', sans-serif;
	}
	margin-top: 25px;
	padding: 15px 0;
}

.stack-list__item:hover {
	cursor: grab;
	background-color: rgba(0, 0, 0, 0.05);
}
/* -------------------------------------------------------------------------- */
/*                                    Head                                    */
/* -------------------------------------------------------------------------- */

.main-header {
	width: 100%;
	height: 3.5rem;
	padding: 0.5rem 1rem;
	position: fixed;
	background: linear-gradient(
		rgba(0, 0, 0, 0.9),
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.9)
	);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brand {
	font: {
		family: 'Tangerine', cursive;
		size: 2rem;
		weight: bold;
	}
	color: map-get($colors, text_darker_blue);
	text-decoration: none;
	padding: 10px;
	vertical-align: middle;
}

/* -------------------------------------------------------------------------- */
/*                                 mobile nav                                 */
/* -------------------------------------------------------------------------- */

.mobile-nav {
	color: white;
	font-size: 2rem;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.mobile-main-nav {
	background-color: rgba(0, 0, 0, 0.6);
	width: 80vw;
	display: none;
}

.mobile-main-nav__items {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 5%;
}

.mobile-nav-link {
	color: map-get($colors, text_darker_blue);
	text-decoration: none;
	font: {
		family: 'Grenze Gotisch', cursive;
		size: 1.2rem;
	}
	padding: {
		bottom: 3px;
		right: 0.5rem;
	}
}

.mobile-nav-link__dropdown {
	@extend .mobile-nav-link;
	padding: 1rem 0;
}

/* -------------------------------------------------------------------------- */
/*                                  Dropdown                                  */
/* -------------------------------------------------------------------------- */

.dropdown {
	.dropbtn {
		color: map-get($colors, text_darker_blue);
		text-decoration: none;
		background-color: inherit;
		border: none;
		font: {
			family: 'Grenze Gotisch', cursive;
			size: 1.5rem;
		}
		padding: {
			bottom: 3px;
			right: 0.5rem;
		}
		cursor: pointer;
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	min-width: 10rem;
	z-index: 1;
	width: 100vw;
}

/* -------------------------------------------------------------------------- */
/*                                  main nav                                  */
/* -------------------------------------------------------------------------- */

.main-nav__items {
	display: none;
	list-style: none;
}
.main-nav__item {
	padding: 0 20px;
}

.nav-link {
	color: map-get($colors, text_darker_blue);
	text-decoration: none;
	margin: 2rem;
	font: {
		family: 'Grenze Gotisch', cursive;
		size: 1.5rem;
	}
	&:hover {
		color: map-get($colors, text_darker_blue);
		border: {
			bottom: map-get($colors, text_darker_blue);
			bottom-style: dotted;
			bottom-left-radius: 15%;
			bottom-right-radius: 15%;
		}
	}
	&:active {
		color: #5e76ab;
	}
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.main-footer {
	bottom: 0;
	height: 4rem;
	width: 100%;
	background: linear-gradient(
		rgba(255, 255, 255, 0.7),
		rgba(109, 109, 109, 0.363),
		rgba(255, 255, 255, 0.7)
	);
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-row: 3 / 4;
	z-index: 100;
}

.footer-list {
	display: flex;
	list-style: none;
	align-items: center;
	padding-left: 0;
	height: 1rem;
	width: 30vw;
	margin: 8px;
	text-align: center;
}

.footer-list__item {
	display: flex;
	width: 3rem;
	justify-content: center;
}

.footer-link {
	display: flex;
	color: black;
	cursor: grab;
	position: relative;
	justify-content: flex-end;
	width: 30vw;
	margin: {
		left: 1rem;
		right: 1rem;
	}
}

.case-law {
	width: 15%;
	font-size: 2rem;
}
.copyright {
	display: flex;
	width: 30vw;
	justify-content: center;
	font-size: 12px;
}

.footer-list__item {
	justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                            @Media 640px> Tablet                            */
/* -------------------------------------------------------------------------- */

@media (min-width: 640px) {
	/* -------------------------------------------------------------------------- */
	/*                                Main Content                                */
	/* -------------------------------------------------------------------------- */

	.title {
		padding: 5rem 0;
	}

	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.brand {
		font-size: 3rem;
	}

	.mobile-nav {
		display: none;
	}

	.main-nav__item {
		display: inline-block;
	}

	.main-nav__items {
		display: inline-block;
	}

	.dropdown:hover .dropdown-content {
		display: flex;
		flex-direction: column;
		z-index: 1;
		align-items: center;
		width: 100vw;
		right: 0;
	}
}

/* -------------------------------------------------------------------------- */
/*                                @Media 1024px >                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1024px) {
	/* -------------------------------------------------------------------------- */
	/*                                    Head                                    */
	/* -------------------------------------------------------------------------- */

	.brand {
		font-size: 3rem;
	}

	.main-nav__item {
		display: inline-block;
	}

	.mobile-nav {
		display: none;
	}
	/* -------------------------------------------------------------------------- */
	/*                                Main Content                                */
	/* -------------------------------------------------------------------------- */

	div {
		text-align: center;
		vertical-align: middle;
	}

	.stack {
		padding: unset;
	}

	/* -------------------------------------------------------------------------- */
	/*                                   Footer                                   */
	/* -------------------------------------------------------------------------- */

	.case-law {
		width: 10%;
	}
}

/* -------------------------------------------------------------------------- */
/*                             JavaScript Classes                             */
/* -------------------------------------------------------------------------- */

.display-flex {
	display: flex;
	position: fixed;
	z-index: 1;
	align-items: center;
	width: 100%;
	margin-top: 3.5rem;
}

.display-block {
	display: flex;
	flex-direction: column;
	z-index: 1;
	align-items: center;
	width: 100vw;
	right: 0;
	margin-top: 1rem;
}
